.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 150px;
    text-transform: capitalize;
    /* font-weight: 500; */
}

.breadcrum img {
    width: 16px;  /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}
@media(max-width:1280px){
    .breadcrum{
        margin: 30px 50px;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .breadcrum{
        margin: 30px 30px;
        font-size: 13px;
    }
}
@media(max-width:800px){
    .breadcrum{
        font-size: 10px;
    }
}